.App{
  text-align: center;
}
.input{
  width:350px;
  height:50px;
  border-radius:5px;
  border:2px solid black;
  font-size: 30px;
  padding: 5px;
  
}
.result-container{
  margin: auto;
  width:350px;
  max-height: 400px;
  overflow-y: scroll;
  border:2px black solid;
  border-radius: 5px;
  
}
.result{
  display: block;
  padding: 5px;
}
.result:hover{
  transition: 0.5s;
  background-color: beige;
  cursor: pointer;
}